{% extends 'base.html' %}
{% load i18n %} 
{% load static %}

{% block content %}


<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Invoices</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
              <th>{% translate  "Name" %}</th>
              <th>{% translate  "Type" %}</th>
              <th>{% translate  "Currency" %}</th>
              <th>{% translate  "Closing Day" %}</th>
              <th>{% translate  "Due Day" %}</th>
              <th>{% translate  "Balance" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for account in account_list %}
            <tr>
              <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select account"></td>
              <td>
                <a href="{% url 'banking:account_detail' account.id %}">
                  <img src="{{media_url}}{{account.bank.logo.url}}" width="32"/> {{account.name}}
                </a>
              </td>
              <td>
                {% trans account.get_type_display %}
              </td>
              <td>
                <span class="flag flag-xs flag-country-{{account.currency.code|slice:2|lower}} me-2"></span>
                {{account.currency}} ({{account.currency.code}})
                
              </td>
              <td>
                {{account.closing_day}}
              </td>
              <td>
                {{account.due_day}}
              </td>
              <td>{{account.getBalance}}</td>
              <td class="text-end">
                <button class="btn align-text-top">Edit</button>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}