{% extends 'base.html' %}
{% load i18n %} 
{% load static %}

{% block content %}
{% for account in account_list %}
    {% for colname in account.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="d-flex w-100">
    <div class="w-100">
        <table class="table table-sm table-hover dataTable" id="dataTable">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">{% translate  "Name" %}</th>
                    <th class="text-center" scope="col">{% translate  "Type" %}</th>
                    <th class="text-center" scope="col">{% translate  "Closing Day" %}</th>
                    <th class="text-center" scope="col">{% translate  "Due Day" %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for account in account_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5">
                        <a href="{% url 'banking:account_detail' account.id %}">
                            <img src="{{media_url}}{{account.bank.logo.url}}" width="24"/> {{account.name}}
                        </a>
                    </td>
                    <td class="text-center">{% trans account.get_type_display %}</td>
                    <td class="text-center">{{account.closing_day}}</td>
                    <td class="text-center">{{account.due_day}}</td>
                    <td><a href="{% url 'banking:account_update' account.id %} ">{% translate "Update" %}</a></td>
                    <td><a href="{% url 'banking:account_delete' account.id %}">{% translate "Delete" %}</a></td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>    
        <div class="d-flex justify-content-center">
            <a href="{% url 'banking:account_create' %}" class="d-block btn btn-primary btn-lg my-5">{% translate "Add New" %}</a>
        </div>
    </div>
        
</div>
{% endblock content %}